.ContentContainer{
    background-color: white;
    width: 900px;
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 30px;
    position: relative;
  }

  .tagWrapper{
    width: 100%;
    margin-top: 17px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
  }

  .ContentInfo{
    margin-top: 17px;
    padding-left: 2px;
  }

  .ContentInfo > *:not(:last-child){
    margin-right: 15px;
    padding-right: 15px;
    font-size: 15px;
    text-align: center;
    border-right: 1px solid black;
  }

  .summary{
    width: 100%;
    margin-top: 15px  ;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 15px;
  }

  .Content{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    min-height: 300px;
  }

  .AutorInfo{
    width: 100%;
    height: 100px;
    margin-top: px;
    background-color: #888;
  }

  .AutorImgWrapper{
    position: relative;
    width: 100px;
    height: 100%;
    background-color: white;
    float: left;
  }

  .AutorImgWrapper > img {
    width: 100px;
    height: 100px;
    position:absolute; 
    top:0; 
    left:0; 
    bottom:0; 
    right:0; 
    margin: auto;
    border-radius: 50%;
  }

  .AutorProfile{
    width: 790px;
    height: 100%;
    background-color: white;
    float: left;
    padding-left: 10px;
  }

  .AutorLinks{
    display: flex;
    justify-content: flex-end;
  }

  .AutorLinks > button{
    margin-left: 25px;
  }

  .AutorLinks img{
    width: 50px;
    height: 50px;
  }


  .AutorProfile > span:not(:last-child){
    margin-right: 15px;
    padding-right: 15px;
    font-size: 15px;
    text-align: center;
    border-right: 1px solid #888;
  }


  .commentContainer{
    width: 900px;
  }

  .inputDiv{
    text-align: center;
    margin-bottom: 20px;
  }
  .inputComment{
    width: 900px;
    height: 100px;
    resize: none;
  }
  .btnDiv{
    text-align: right;
  }
  .btnSubmit{
    font-size: 20px;
    color: white;
    background-color: black;
    padding : 2px 15px 2px 15px;
    border-radius: 15px;

  }

  .Comments li{
    border-top: 1px solid #888;
  }
  .Comments li:last-child{
    border-bottom: 1px solid #888;
  }

  .floatingBtns{
    width: 100px;
    position: fixed;
    right: 70px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .floatingBtns > div{
    position: relative;
    width: 75px;
    height: 75px; 
    border: 1px solid #222; 
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 10px;
  }

  .floatingBtns > div img {
    width: 45px;
    height: 45px;
    position:absolute; 
    top:0; 
    left:0; 
    bottom:8px; 
    right:0; 
    margin: auto;
  }

  .floatingBtns > div p {
    width: 45px;
    height: 45px;
    margin: 0 auto;
    margin-top: 27px;
    font-size: 12 px;
    text-align: center;
  }