.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background-color: transparent;
}

ul{
  list-style: none;
}

li{
  
  margin:0;
  padding:0;
}

body{
  margin: 0;
}

.Header{
  width: 100%;
  margin: 0 auto;
}

a { text-decoration:none !important }
a:hover { text-decoration:none !important }

.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}
